In [155]:
import pandas as pd
import numpy as np
import seaborn as sns

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import warnings
warnings.filterwarnings('ignore')

In [156]:
import csv

f = open('/Users/Mushroom/Desktop/Firearm related death.txt')

data = []
for line in f:
    data_line = line.rstrip().split('\t')
    data.append(data_line)

df = pd.DataFrame(data)

In [157]:
df.head()

,0,1,2,3,4,5,6,7,8,9
0,"""Notes""","""Year""","""Year Code""","""State""","""State Code""","""MCD - ICD-10 113 Cause List""","""MCD - ICD-10 113 Cause List Code""",Deaths,Population,Crude Rate
1,,"""1999""","""1999""","""Alabama""","""01""","""Intentional self-harm (suicide) by discharge ...","""GR113-125""",436,4430141,9.8
2,,"""1999""","""1999""","""Alabama""","""01""","""Assault (homicide) by discharge of firearms (...","""GR113-128""",293,4430141,6.6
3,,"""1999""","""1999""","""Alaska""","""02""","""Intentional self-harm (suicide) by discharge ...","""GR113-125""",55,624779,8.8
4,,"""1999""","""1999""","""Alaska""","""02""","""Assault (homicide) by discharge of firearms (...","""GR113-128""",27,624779,4.3

In [158]:
df.drop(df.index[0], inplace=True)

In [159]:
df = df.rename(columns={1: 'Year',
                   3:'State',
                   5:'Death_Cause',
                   7:'Deaths',
                   8:'Population'})

In [160]:
df2 = df[['Year', 'State', 'Death_Cause', 'Deaths', 'Population']]

In [161]:
df2['State'] = df2['State'].str.replace('"','')
df2['Year'] = df2['Year'].str.replace('"','')
df2['Death_Cause'] = df2['Death_Cause'].str.replace('"','')
df2['Deaths'] = df2['Deaths'].str.replace('"','')
df2['Population'] = df2['Population'].str.replace('"','')

In [162]:
df2.head()

,Year,State,Death_Cause,Deaths,Population
1,1999,Alabama,Intentional self-harm (suicide) by discharge o...,436,4430141
2,1999,Alabama,Assault (homicide) by discharge of firearms (*...,293,4430141
3,1999,Alaska,Intentional self-harm (suicide) by discharge o...,55,624779
4,1999,Alaska,Assault (homicide) by discharge of firearms (*...,27,624779
5,1999,Arizona,Intentional self-harm (suicide) by discharge o...,477,5023823

In [163]:
df2.isnull().sum()

Year           82
State          82
Death_Cause    82
Deaths         82
Population     82
dtype: int64

In [164]:
df2 = df2.dropna()

In [165]:
df2.dtypes

Year           object
State          object
Death_Cause    object
Deaths         object
Population     object
dtype: object

In [166]:
df2['State'] = df2['State'].astype(np.str)
df2['Year'] = df2['Year'].astype(np.str)
df2['Death_Cause'] = df2['Death_Cause'].astype(np.str)
df2['Deaths'] = df2['Deaths'].astype(np.int)
df2['Population'] = df2['Population'].astype(np.int)

In [167]:
df2 = df2.replace('Intentional self-harm (suicide) by discharge of firearms (X72-X74)', 'suicide').replace(
    'Assault (homicide) by discharge of firearms (*U01.4,X93-X95)', 'homicide')

Create a new variable -- death rate per 100,000 people

In [168]:
df2['Death_Rate'] = (df2['Deaths']/df2['Population'])*100000

In [169]:
df2.head()

   Year    State Death_Cause  Deaths  Population  Death_Rate
1  1999  Alabama     suicide     436     4430141    9.841673
2  1999  Alabama    homicide     293     4430141    6.613785
3  1999   Alaska     suicide      55      624779    8.803113
4  1999   Alaska    homicide      27      624779    4.321528
5  1999  Arizona     suicide     477     5023823    9.494761

In [154]:
df2.to_csv("homicide_suicide_deaths.csv", encoding='utf-8')
df3 = df2.groupby(['Year','Death_Cause'])['Death_Rate'].mean()
df3.to_csv("homicide_suicide_deaths_rate.csv", encoding='utf-8')
df4 = df2.groupby(['Year','Death_Cause'])['Deaths'].sum()
df4.to_csv("homicide_suicide_deaths_groupby.csv", encoding='utf-8')